html
{
    height:100%;
    margin:0;
    font-family: "Copperplate Gothic Bold", sans-serif;
}
body
{
    background-color: black;
    background-image: url('https://3.bp.blogspot.com/-lDmbMIALuTQ/XIYHf8xJaII/AAAAAAAAIlg/LxI40D7uIw8E7OZDxmi8Q2M2J70Fb5U2wCHMYCw/s1600/wallpaper-summer-green-berries-background-blur-strawberries.jpg');
    height: 350px;
    width: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#introPage,#myPage,#endPage
{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}
#introPage
{
    width:850px;
    height:600px;
    display: block;
}
#introText
{
    width:650px;
    height:260px;
    margin:40px auto;
}
#introText p,#myPage p
{
    font-size:45px;
    text-align:center;
}
#button
{
    width:500px;
    height:40px;
    margin:20px auto;
}
#myp
{
    float:top;
    background:yellowgreen;
    box-sizing:border-box;
    width:200px;
    height:60px;
    cursor:pointer;
    line-height:60px;
    font-size:25px;
    border-radius:10px;
    text-align:center;
    margin:140px;

}
#hangmanImg
{
    margin: 40px auto;
}

/*This is myPage*/
#myPage
{
    display:none;
    width:380px;
    height:600px;
}
#myPage p
{
    margin:20px auto 20px auto;

}
#fruitButton
{
    width:500px;
    height:40px;
    margin:20px auto;

}
#button2
{
    width:500px;
    height:40px;
    margin:250px auto;
    font-size:30px;

}
#goStart
{
    width:450px;
    height:40px;
    float:top;
    text-align:center;
    margin:6px;
    background:yellowgreen;
    border-radius:10px;
    cursor:pointer;

}

/*This is my Game Page*/
#gamePage
{
    display:none;
    text-align:center;
}
#theName {
    font-size: 40px;
    margin:10px auto;
}
#mistakes
{
    width:250px;
    height:30px;
    font-size:30px;
    color:#000080;
    margin:0px auto 20px auto;
}
#letterBank
{
    width:780px;
    height:125px;
    margin:10px auto;
}
#letterBank div
{
    float:left;
    font-size:25px;
    margin:5px;
    width:50px;
    height:40px;
    background-color:lightskyblue;
    cursor:pointer;
}
#wordWrap
{
    width:800px;
    height:150px;
    margin:0px auto;
}
#letter1, #letter2, #letter3, #letter4, #letter5, #letter6, #letter7, #letter8, #letter9, #letter10, #letter11, #letter12, #letter13, #letter14, #letter15, #letter16, #letter17, #letter18, #letter19, #letter20, #letter21, #letter22, #letter23, #letter24, #letter25, #letter26, #letter27, #letter28, #letter29, #letter30, #letter31, #letter32, #letter33, #letter34, #letter35, #letter36, #letter37, #letter38, #letter39, #letter40, #letter41, #letter42, #letter43, #letter44, #letter45, #letter46, #letter47, #letter48, #letter49, #letter50, #letter51, #letter52, #letter53, #letter54, #letter55, #letter56, #letter57, #letter58, #letter59, #letter60, #letter61, #letter62, #letter63, #letter64, #letter65, #letter66, #letter67, #letter68, #letter69, #letter70, #letter71, #letter72, #letter73, #letter74, #letter75, #letter76, #letter77, #letter78, #letter79, #letter80, #letter81, #letter82, #letter83, #letter84, #letter85, #letter86, #letter87, #letter88, #letter89, #letter90, #letter91, #letter92, #letter93, #letter94, #letter95, #letter96, #letter97, #letter98, #letter99, #letter100{
    font-family: "Droid Sans Mono Slashed", cursive;
    width: 50px;
    height: 60px;
    margin:0px;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    padding:0;
}
#underline1, #underline2, #underline3, #underline4, #underline5, #underline6, #underline7, #underline8, #underline9, #underline10, #underline11, #underline12, #underline13, #underline14, #underline15, #underline16, #underline17, #underline18, #underline19, #underline20, #underline21, #underline22, #underline23, #underline24, #underline25, #underline26, #underline27, #underline28, #underline29, #underline30, #underline31, #underline32, #underline33, #underline34, #underline35, #underline36, #underline37, #underline38, #underline39, #underline40, #underline41, #underline42, #underline43, #underline44, #underline45, #underline46, #underline47, #underline48, #underline49, #underline50, #underline51, #underline52, #underline53, #underline54, #underline55, #underline56, #underline57, #underline58, #underline59, #underline60, #underline61, #underline62, #underline63, #underline64, #underline65, #underline66, #underline67, #underline68, #underline69, #underline70, #underline71, #underline72, #underline73, #underline74, #underline75, #underline76, #underline77, #underline78, #underline79, #underline80, #underline81, #underline82, #underline83, #underline84, #underline85, #underline86, #underline87, #underline88, #underline89, #underline90, #underline91, #underline92, #underline93, #underline94, #underline95, #underline96, #underline97, #underline98, #underline99, #underline100{
    display: none;
    float: left;
    width: 50px;
    height: 60px;
    margin-right: 5px;
    margin-bottom:0px;
    padding:0;
}
#hangImg
{
    margin:20px auto;
    clear:both;
    display:block;
}
/*End Page*/
#endPage
{
    display:none;
    width:850px;
    height:600px;
}
#winStatus
{
    font-size:35px;
    text-align:center;
    color:orange;
    margin-top:20px;

}

#guessedWord
{
    width:400px;
    height:40px;
    font-size:30px;
    line-height:40px;
    color:#6960EC;
    margin:20px auto;
}
#hangImgWin
{
    width:220px;
    margin:20px auto;
    clear:both;
    display:block;
}
